@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
	font-family: 'Rubik', Helvetica, sans-serif; 
	background:rgb(28,27,34); 
	color: #DEDEDE; 
	padding: 15px; 
	max-width:450px; 
	font-size: 16px; 
	text-align: justify;
}
form {
	max-width: 420px; 
	margin: 30px auto;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	font-size: 14px;
	text-align: justify;
}

input {
  font-weight:500;
  font-size: 16px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  color: #FEFEFE;
  border:2px solid #225D3C;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

input:focus { border:2px solid #1FDF64; }
input:hover { border:2px solid #1FDF64; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

input[type="submit"] {
  width: 100%;
  background:#225D3C;
  border-radius:5px;
  border:0;
  cursor:pointer;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

input[type="submit"]:hover { background:#1FDF64; }

a {
	color: #225D3C;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #1FDF64;
}

p.disclaimer {
	text-align: center;
}

video {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
	width: 80%;
	height: auto;
}